h1{
    color: deepskyblue;
}
ul li{
    color: dodgerblue;
}
.fav-places{
color:rgb(2, 75, 104);
}

.background{
    background-color: lavender !important;
    text-align: center;
}
.large-text{
    font-size: 2rem;
}
